/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

































body{
	background: #000;
	color: #fff;
}
header{
	color: #fff;
	max-width: 33%;
	margin: 0 auto;
	position: relative;
	top: 10px;
	margin-bottom: 15px;
}
h1{
	font-size: 22px;
	min-width: 29%;
	margin-left: 36%;
	padding-bottom: 12.5px;
}
header p{
	font-size: 15px;
	min-width: 74%;
	margin-left: 14%;
	font-style: italic;
	color: #A9A9A9;
	padding-bottom: 10px;
}
.header__links{
	max-width: 107.5px;
	margin: 0 auto;
	display: flex;
	height: 50px;
}
.youtube_link{
	height: 100%;
}
.instagram_link{
	height: 100%;
}
.youtube_icon{
	width: 97%;
	height: 100%;
}
.instagram_icon{
	width:100%;
	height: 100%;
	margin-right: 50px;
	margin-left: 2.5px;
}









.first{
	width: 47%;
	margin: 0 auto;
}
.first__text{
	display: flex;
}
.first__img{
	height: 475px;
}
.first__img img{
	width: 100%; 
	max-height: 100%;
}
.first__text__icon{
	width: 29px;
	height: 29px;
	margin-top: 15px;
	margin-left: 60px;
}
.first__text__item{
	margin-top: 19px;
	font-size: 18px;
	margin-left: 5px;
}
.first__text__item_span{
	margin-top: 18px;
	margin-left: 5px;
	color: grey;
	font-size: 18px;
}


